@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Thin.woff2') format('woff2'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

:root {
  --background-dark: #252527;
  --highlight-one: #48C2CB;
  --highlight-two: #DD7C2D;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #0B0C10;
}

::-webkit-scrollbar-thumb {
  background: #48C2CB;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.bg-dark {
  background-color: var(--background-dark);
}

.bg-highlight-two {
  background-color: var(--highlight-two);
}

.font-gb {
  /* font-family: 'Roboto Mono'; */
  font-family: 'JetBrains Mono';
}

.font-qt {
  font-family: 'Questrial';
}

#navigation-container>a {
  transition: 0.15s ease-in;
}

#navigation-container>a:hover {
  background: var(--highlight-two)
}

#navigation-container svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
}

#navigation-container svg>path {
  fill: white;
  fill-rule: nonzero;
}

#navigation-container svg:hover>path {
  fill: var(--highlight-two);
}

@media only screen and (max-width: 768px) {}